body {
	background-color: #984230;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 50;
}

h2 {
	color: white;
	font-size:50;
		
}

p1 {
	font-size: 40;
	font-style: bold;
	color: #73B7B0;
}

p3 {
	font-size: 30;
}

p2 {
	font-size: 37;
	color: gray;
}

p4 {
	font-size: 35;
	color: blue;
}
