body {
	background-color: #927F64;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: brown;
}

.bal, .jobb, .kozep {
	width: 33%;
	height: 1100px;
	margin-top: 20px;
	float: left;
}

.kep img{
	display: block;
	width: 90%;	
	margin-left: auto;
	margin-right: auto;
}

ul {
	padding: 0 20px 0 20px;
}

h1 {
	text-align: center;
	margin: 10px;	
	font-stretch: condensed;
	font-size: 2.5em;	
	padding: 30px 0;
}

h2 {
	text-align: center;	
}

li {
	list-style-type: none;
	font-size: 1.5em;
	line-height: 4em;
}

.bal li:nth-child(even) {	
	text-align: right;
}

.jobb li:nth-child(odd) {	
	text-align: right;
}

a {
	text-decoration: none;
	color: brown;
}

a:hover {
	color: orange;
}
